*{
    margin: 0 ;
    border: 0;
}
body{
    margin: 0 auto;
    border: 0;
}
.frontpage{
    height:100vh;
    overflow: hidden;
    background-image: url('../img/city.jpg');
    background-size: cover;
    position: relative;
}
#logo1{
    height:500px;
    overflow: hidden;
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 30px;
}
.backpage{
    min-width: 1130px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.box{
    width: 1130px;
    margin: 0 auto;
}
#bloods{
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-image: url('../img/bloods.jpg');
    background-size: cover;
    position: relative;
}
#girlghost1{
    width: 30%;
    height: 500px;
    overflow: hidden;
    background-image: url('../img/女人s.png');
    background-size: cover;
    position: relative;
    float: left;
}
#hand1{
    width: 150px;
    height: 150px;
    overflow: hidden;
    background-image: url('../img/手1.png');
    background-size: cover;
    position: absolute;
    right: 25%;
    bottom: 25%;
}
#hand2{
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-image: url('../img/手2.png');
    background-size: cover;
    position: absolute;
    right: 10%;
    bottom: 40%;
}
#bloods h4{
    background-color: pink;
    width: 50%;
    letter-spacing: 4px;
    font-weight: bold;
    margin-left: 397.8px;
    margin-top: 200px;
}
#logo2{
    height:500px;
    overflow: hidden;
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.nav-item, .nav-link{
    font-size: 18px;
    text-align: center;
    margin: auto
}
#sliderL h1{
    color: black;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%)
}
#sliderM h1{
    color: gray;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%)
}
#sliderR h1{
    color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%)
}
#regarding{
    width: 35%;
    height: 70%;
    background-color: white;
    opacity: 0.3;
    position: absolute;
    top: 18%;
    left: 10%;
}
#regarding p{
    color: darkred ;
}
#price{
    width: 100%;
    height: 95vh;
    background-color: #fff;
    position: relative;
}
#price h1{
    text-align: center;
    position: relative;
    top: 10vh;
    font-weight: bold;
}
#card1{
    max-width: 1130px;
    width: 1130px;
    height: 60vh;
    border: solid 1px black;
    margin: 0 auto;
    position: relative;
    top: 15vh;
}
#price h3{
    text-align: center;
    position: relative;
    top: 1vh;
    font-weight: bold;
}
#price p{
    text-align: center;
    position: relative;
    top: 1vh;
}
#news{
    width: 100%;
    height: 95vh;
    background-color: #fff;
    position: relative;
}
#news h1{
    text-align: center;
    position: relative;
    top: 10vh;
    font-weight: bold;
}
#card2{
    max-width: 1130px;
    width: 1130px;
    height: 60vh;
    margin: 0 auto;
    position: relative;
    top: 15vh;
}
#news h3{
    text-align: center;
    position: relative;
    top: 1vh;
    font-weight: bold;
}
#news p{
    text-align: center;
    position: relative;
    top: 1vh;
}
#souvenir{
    width: 100%;
    height: 150vh;
    background-color: #fff;
    position: relative;
}
#souvenir h1{
    text-align: center;
    position: relative;
    top: 10vh;
    font-weight: bold;
}
#card3{
    max-width: 1130px;
    width: 1130px;
    height: 80vh;
    margin: 0 auto;
    position: relative;
    top: 15vh;
}
#souvenir h3{
    text-align: center;
    position: relative;
    top: 1vh;
    font-weight: bold;
}
#souvenir h4{
    text-align: center;
    position: relative;
    top: 25.3vh;
    font-weight: bold;
    font-size: 28px;
}
#souvenir .col-sm-3{
    padding: 0;
}
#food{
    width: 100%;
    height: 95vh;
    background-color: #fff;
    position: relative;
}
#food h1{
    text-align: center;
    position: relative;
    top: 10vh;
    font-weight: bold;
}
#card4{
    max-width: 1130px;
    width: 762px;
    height: 60vh;
    margin: 0 auto;
    position: relative;
    top: 15vh;
}
#food h3{
    text-align: center;
    position: relative;
    top: 1vh;
    font-weight: bold;
}
#last{
    width: 100%;
    height: 95vh;
    overflow: hidden;
    background-image: url('../img/最後.jpg');
    background-size: cover;
    position: relative;
    opacity: 0.5;
}
#last h1{
    text-align: center;
    position: relative;
    top: 10vh;
    font-weight: bold;
    color: aliceblue
}
#last p{
    text-align: center;
    position: relative;
    top: 30vh;
    color: aliceblue
}
.whitebar{
    width: 100%;
    height: 10vh;
    background-color: white;
    position: relative;
    top: 50vh;
    opacity: 0.6;
    position: relative;
}
#fb{
    height: 10vh;
    position: relative;
    left: 43%;
}
#ig{
    height: 10vh;
    position: relative;
    left: 47%;
}
